input {
    display: block;
}
textarea {
    display: block;
}
button {
    display: block;
}
ul {
    margin: 0;
    padding: 0;
}
.containerBody {
    margin: 40px 55px;
}
.containerSlide {
    padding: 10px;
}
.leftText {
    text-align: left;
}
.centerText {
    text-align: center;
}
.rightText {
    text-align: right;
}
.noPadding {
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.hide {
    display:none;
}





.left {
    background-color: rgb(194, 212, 216);
    height: 700px;
}

.nameContainer {
    height: 70px;
    background-color: rgb(244, 244, 244);
    padding: 5px 20px;
}
.name {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 45px;
    font-weight: 100;
    color: rgb(89, 89, 89);
    letter-spacing: 4px;
}


.menu {
    background-color: white;
    position: absolute;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

}
#menu-button {
  border: 2px solid rgba(255, 255, 255, 0);
  background: rgba(18,18,18,1);
  padding: 23px;
  transition: background 750ms ease-in-out;
  user-select: none;
  color: white;
}
/* Important styles */
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
}

/* menu appearance*/
#menu {
  position: relative;
  color: #999;
  padding: 10px;
  margin: auto;
  text-align: center;
  background: white;
  /* just for this demo */
  opacity: 1;
  transition: opacity .4s;
  background-color: rgb(249, 249, 249);
}

ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}
li a:hover,
li a:focus {
  background: #1ABC9C;
  color: #fff;
}



.menuBack {
    background-color: rgb(249, 249, 249);
}

.title {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 45px;
    font-weight: 200;
    color: rgb(89, 89, 89);
    letter-spacing: 4px;
}
.menuItems {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    font-weight: 200;
    color: rgb(89, 89, 89);
    letter-spacing: 4px;
}
.subtitle {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: rgb(89, 89, 89);
}
.containerContactBody {
    padding-top: 100px;
}
.text-large {
    font-family: 'Scheherazade', serif;
    font-size: 20px;
    font-weight: 100;
    color: rgb(89, 89, 89);
    text-transform: uppercase;
}
.text-small {
    font-family: 'Scheherazade', serif;
    font-size: 20px;
    font-weight: 100;
    color: rgb(89, 89, 89);
}
.contact-input, .contact-textarea {
    width: 100%;
    border: 1px solid rgb(89, 89, 89);
    background-color: white;
    color: rgb(89, 89, 89);
    font-size: 1.250em;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: none;
    list-style-type: none;
    margin-bottom: 5px;
    padding: 8px, 12px;
    outline:none;
}
.contact-input {
    height: 50px;
}
.contact-button {
    display: block;
    height: 50px;
    background-color: rgb(89, 89, 89);
    color: white;
    font-size: 1.250em;
    border: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    cursor:pointer;
}

.work-box {
    background-color: rgb(176, 171, 195);
    height: 250px;
}


.right {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 700px;
}

.slide {
    height: 700px;
}

.slide1 {
    background-color: rgb(219, 234, 216);
}

.slide2 {
    background-color: rgb(254, 254, 254);
}
.slide3 {
    background-color: rgb(219, 234, 216);
}
.slide4 {
    background-color: rgb(254, 254, 254);
}
.slide5 {
    background-color: rgb(219, 234, 216);
}




::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgb(89, 89, 89);
    -webkit-border-radius: 0ex;
}
